@import "../../../assets/styles/vars"

.mat-stepper-horizontal
  width 100%
  max-width 600px
  form
    display flex
    flex-direction column
    max-width none
    box-shadow none
.stepper-actions
  display flex
  width 100%
  justify-content center
  align-items center
  &.fcol
    flex-direction row
    flex-wrap wrap
  .mat-form-field
    width 45%
    max-width 300px
    margin 0 auto
  .full-width
    width 50%
    margin 0 25%
    &.top-margin
      display flex
      justify-content center
      margin-top normalM
  @media screen and (max-width: sm)
    .mat-form-field
      width 90%
    .full-width
      margin 0 auto
.stepper-body
  display flex
  flex-direction column
  width 100%
  justify-content center
  align-items center
  h5
    margin-block-start 1em
    margin-block-end 1em
  .mat-grid-list
    width 100%
  button
    &.nav-icon
      font-size 1em
      padding 0.2em 0.4em
    &.mat-badge-medium
      &.mat-badge-overlap
        &.mat-badge-after
          .mat-badge-content
            right 22px
            top 0px
            background-color badgeColor
      @media screen and (max-width: sm)
        padding 0.4em
    &.disponible
      color successColor
      border-color reservableColor
      background-color white
      &:hover
        background-color successColor
        color white
      &.seleccionado
        background-color successColor
        color white
    &.reservado
      color white
      background-color primaryBack
      border-color primaryBack
      &:hover
        background-color primaryBack
        color white
    &.concurrio
      color concurrioColor
      border-color concurrioColor
      &:hover
        color concurrioColor
        border-color concurrioColor
        background-color white
    &.cancelado
    &.noconcurrio
      color noConcurrioColor
      border-color noConcurrioColor
      &:hover
        color noConcurrioColor
        border-color noConcurrioColor
        background-color white
    &.inactivo
    &.nodisponible
      color disabledColor
      border-color disabledColor
      &:hover
        color disabledColor
        border-color disabledColor
        background-color white
.spinner-content
  margin 0 0.4em
