<mat-toolbar color="transparent">
  <mat-toolbar-row>
    <nav class="title-navbar">
      <h2 i18n="@@title">Veterinaria</h2>
    </nav>
    <mat-divider [vertical]="true"></mat-divider>
    <nav class="router-navbar">
      <button mat-button routerLink="home" i18n="@@homeText" routerLinkActive="active-link"> Inicio </button>
      <button mat-button routerLink="services" i18n="@@serviceText" routerLinkActive="active-link"> Servicios </button>
      <button mat-button routerLink="contact" i18n="@@contactText" routerLinkActive="active-link"> Contacto </button>
      <mat-menu #menu="matMenu" class="hamburguer-menu">
        <div *ngIf="(authService.isLoggedIn | async); then ifBlock else elseBlock">
        </div>
        <ng-template #ifBlock>
          <button mat-button [routerLink]="profileUrl"
            routerLinkActive="active-link">{{usuario?.nombreUsuario}}</button>
          <button mat-button [routerLink]="logoutUrl" i18n="@@logoutText" routerLinkActive="active-link">Cerrar
            sesión</button>
        </ng-template>
        <ng-template #elseBlock>
          <button mat-button [routerLink]="loginUrl" i18n="@@loginText" routerLinkActive="active-link"> Iniciar
            sesión</button>
          <button mat-button [routerLink]="registerUrl" i18n="@@registerText" routerLinkActive="active-link">
            Registrarse</button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="hamburguer menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>