@import "../../../../assets/styles/vars"

mat-toolbar
  background-color transparent
  color white
.profile-navbar, .router-navbar
  display flex
  justify-content flex-end;
nav 
  .mat-button
    display flex 
    margin 5px 10px
    background-color transparent
    color white
    font-size 0.8em
    font-weight normal
    border 1px solid transparent
    max-width 150px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    box-shadow 0 0
    .mat-button-wrapper
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    &:hover
      background-color rgba(#ffffff, 0.1)
      border 1px solid rgba(#ffffff, 0.2)
    &.active-link
      background-color rgba(#3849c1, 0.1)
      font-weight bold
      font-size 0.8em
      border 1px solid rgba(#ffffff, 0.3)
@media (max-width: sm )
  mat-toolbar-row 
    display flex
    flex-direction column
    width 100%
    height auto