@import "../../../assets/styles/vars"

app-login
  display flex
  width 100%
.container
  form
    display flex
    width 100%
    margin 5% auto
    max-width 500px
    font-size 1.1em
    background formBackColor
    box-shadow 1px 1px 25px rgba(0,0,0,0.35)
    border-radius 10px
    line-height: 1.7em;
    .form-group
      display flex
      width 100%
      padding 0
      justify-content center
      margin 30px
      border 5px solid primaryBack
      border-radius 5px
      .mat-hint
        display flex
        justify-content center
        &.success-response
          display flex
          justify-content center
          color successColor
      .mat-error
        display flex
        width 100%
        justify-content center
        margin 0.4em auto
      .mat-form-field
        display flex
        justify-content center
        width 50%
        margin 2% auto
        .mat-error
          display flex
          width 100%
          justify-content flex-start
      button 
        box-shadow inset 0 1px 0 0 formBorderColor
        background-color primaryBack
        display inline-block
        cursor pointer
        color white
        padding 0.2em 0.6em
        text-decoration none
        font 1em Arial,Helvetica,sans-serif
        margin 5% auto
        &:disabled
          background-color disabledColor
          color primaryBack
