@import "../../../assets/styles/vars"

app-home
  display flex
  flex-direction column

.no-mascota-card
  display flex
  justify-content center
  min-width 50%

.mascota-card
  margin 1em
  text-align center
  padding 1em 3em
  flex-wrap wrap
  align-self flex-start
  mat-card-header
    justify-content center
  .mat-card-image
    width 150px
    border-radius 50%
    @media (max-width: sm)
      width 100px

.mat-card-actions
  button
    padding 0.3em

.native-select
  margin 0 10px

.filtro-cont
  display flex
  flex-direction row
  justify-content center
  align-items center
  width 100%
  .mat-select
    width auto

@media (max-width: sm)
  .mascota-card
    min-width auto
    width 100%
    margin 0
    padding 2% 0
    box-shadow none

    .mat-card-actions
      margin 0
      button
        margin 0 auto