<div *ngIf="(mascotas| async)?.length > 0; then ifBlock else elseBlock">
</div>
<ng-template #ifBlock>
  <mat-card class="mascota-card" *ngFor="let mascota of (mascotas | async)">
    <mat-card-header>
      <mat-card-title>{{mascota.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="mascota.imagen.length > 0" [src]="mascota.imagen" alt="{{mascota.imagen}}">
    <img mat-card-image *ngIf="mascota.imagen !== null || mascota.imagen.length == 0"
      src="assets/images/pet_default_image.jpg" alt="{{mascota.imagen}}">
    <mat-card-content>
      <p *ngIf="mascota.raza.length > 0">Raza: {{mascota.raza}}</p>
      <p *ngIf="mascota.especie.length > 0">Especie: {{mascota.especie}}</p>
      <p *ngIf="mascota.sexo.length > 0">Sexo: {{mascota.sexo}}</p>
      <p *ngIf="mascota.color.length > 0">Color: {{mascota.color}}</p>
      <p *ngIf="mascota.senias.length > 0">Señas: {{mascota.senias}}</p>
      <p *ngIf="mascota.fecha_nacimiento.length > 0">Nacimiento: {{mascota.fecha_nacimiento}}</p>
      <p *ngIf="mascota.duenio?.nombre > 0">Dueño: {{mascota.duenio?.nombre}}</p>
      <p *ngIf="mascota.veterinario?.nombre > 0">Veterinario: {{mascota.veterinario?.nombre}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disabled>Ficha Pública QR</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #elseBlock>
  <mat-card class="no-mascota-card">
    <mat-card-header>
      <h3 matLine> No hay mascotas </h3>
    </mat-card-header>
  </mat-card>
</ng-template>