app-home
  display flex
  flex-direction column
.no-mascota-card
  min-width 50%
.mascota-card
  margin 1em
  text-align center
  padding 1em 3em
  flex-wrap wrap
  mat-card-header
    justify-content center
  .mat-card-image
    width 150px
    border-radius 50%
@media screen and (max-width: sm)
  .no-mascota-card
    min-width 100%
  .mascota-card
    min-width 100%