app-header
  display flex
  width 100%
  background-color primaryBack
app-footer
  display flex
  width 100%
app-navbar, .container
  display flex
  width 100%
  max-width lg
  margin 0 auto
nav
  display flex
  width 100%
.container
  display: flex;
  width: 100%;
  justify-content: center;
.mat-focused.mat-form-field
  &.ng-valid
    color successColor
    .mat-hint
      color successColor
    .mat-form-field-underline
      background-color successColor
.mat-form-field.mat-focused
  &.ng-valid
    .mat-form-field-ripple
      background-color successColor
    .mat-form-field-label
      color successColor
mat-form-field
  &.ng-valid
    color successColor
    .mat-hint
      color successColor
    .mat-form-field-label
      color successColor
    .mat-form-field-underline
      background-color successColor