body
  margin 0
app-header
  background-color primaryBack
app-navbar, .container
  max-width lg
  margin 0 auto
nav
  display flex
  width 100%
app-login, app-signup, app-not-found, app-loading-page, app-home, app-navbar, app-header,
app-services, app-edit-user, app-edit-perfil, app-create-mascota
  display: flex;
  width: 100%;
  justify-content: center;
app-services
  flex-direction column
  text-align center
app-contact
  flex-direction column
app-home
  flex-direction row
  align-items center
.spinner-page
  display flex
  margin 2em auto
  justify-content center
.container
  display: flex;
  width: 100%;
  justify-content: center;
  form
    display flex
    width 100%
    margin 5% auto
    max-width 500px
    font-size 1.1em
    background formBackColor
    box-shadow 1px 1px 25px rgba(0,0,0,0.35)
    border-radius 10px
    line-height: 1.7em;
    .form-group
      display flex
      width 100%
      padding 0
      justify-content center
      margin 30px
      border 5px solid primaryBack
      border-radius 5px
      .mat-hint
        display flex
        justify-content center
        &.success-response
          display flex
          justify-content center
          color successColor
      .mat-error
        display flex
        width 100%
        justify-content center
        margin 0.4em auto
      .mat-form-field
        display flex
        justify-content center
        width 50%
        margin 2% auto
        .mat-error
          display flex
          width 100%
          justify-content flex-start
button 
  box-shadow inset 0 1px 0 0 formBorderColor
  background-color primaryBack
  display inline-block
  cursor pointer
  color white
  padding 0.2em 0.6em
  text-decoration none
  font 1em Arial,Helvetica,sans-serif
  margin 5% auto
  &:disabled
    background-color disabledColor
    color primaryBack
.mat-focused.mat-form-field
  &.ng-valid
    color successColor
    .mat-hint
      color successColor
    .mat-form-field-underline
      background-color successColor
.mat-form-field.mat-focused
  &.ng-valid
    .mat-form-field-ripple
      background-color successColor
    .mat-form-field-label
      color successColor
mat-form-field
  &.ng-valid
    color successColor
    .mat-hint
      color successColor
    .mat-form-field-label
      color successColor
    .mat-form-field-underline
      background-color successColor
.desktop
  display flex
.mobile
  display none

@media screen and (max-width: md)
  .title-navbar
    display none

@media screen and (max-width: sm)
  .desktop
    display none
  .mobile
    display flex
  app-home
    flex-direction column
  .container
    form
      margin 0 auto
      font-size 1em
      background formBackColor
      box-shadow 1px 1px 20px rgba(0,0,0,0.35)
      border-radius 8px
      line-height: 1.5em;
      .form-group
        margin 0px
