//Colors
primaryBack = #008cbb
secondaryBack = #ffffff
formBorderColor = #efefef
formBackColor = #fafafa
successColor = #22922e
errorColor = red
badgeColor = #c17d43
disabledColor = #d3d3d3
disabledStrong = rgba(0,0,0,0.5)
noConcurrioColor = rgba(#d03333, 0.3)
concurrioColor = rgba(#22922e, 0.35)
reservadoColor = rgba(#008cbb, 0.7)
reservableColor = rgba(#22922e, 0.6)
//Sizes
xs = 419px
sm = 767px
md = 959px
lg = 1279px
xl = 1599px
maxWidth = lg
//margins
smallM = 10px
normalM = 20px
