//Colors
primaryBack = #008cbb
secondaryBack = #ffffff
formBorderColor = #efefef
formBackColor = #fafafa
successColor = #22922e
errorColor = red
disabledColor = #d3d3d3
disabledStrong = rgba(0,0,0,0.5)
noConcurrioColor = rgba(red, 0.4)
concurrioColor = rgba(#22922e, 0.4)
reservadoColor = rgba(#22922e, 0.8)
//Sizes
xs = 419px
sm = 767px
md = 959px
lg = 1279px
xl = 1599px
maxWidth = lg
//margins
smallM = 10px
normalM = 20px
